<div class="row">
  <div class="col-xs-12">
    <img
    [src]="product.imagePath"
    alt="{{ product.name }}" class="img-responsive"
    style="max-height: 200px;"/>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <h1>{{ product.name }}</h1>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="btn-group">
      <button
      type="button"
      class="btn btn-primary dropdown-toggle">
      Manage Producto
      <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a href="#">Lista de Compras</a></li>
        <li><a href="#">Modificar Producto</a></li>
        <li><a href="#">Borrar Producto</a></li>
      </ul>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    {{ product.amount }}
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    {{ product.price }}
  </div>
</div>
